In [1]:
import os
import dash
from dash.dependencies import Input,Output
import dash_core_components as dcc
import dash_html_components as html
import plotly.figure_factory as ff
import plotly.graph_objs as go
import pandas as pd
import sqlite3 as sql
from plotly.subplots import make_subplots
import dash_bootstrap_components as dbc
import datetime
import psycopg2

In [2]:
cur_user = 2
DATABASE_URL = "postgres://cmreepqbqbovqd:fd3fc3ff00a90486bfbba4ce5742a70f6f953d3b3f516d0c672577a8490e5763@ec2-54-196-89-124.compute-1.amazonaws.com:5432/d62ikdp30jv2bj"

In [3]:
def fetch_data(q):
    conn = psycopg2.connect(DATABASE_URL, sslmode='require')
    df = pd.read_sql(sql=q,con = conn)
    conn.commit()
    conn.close()
    return df

In [4]:
def get_income_source():
    income_source = (
        f'''SELECT DISTINCT income_source FROM incomes WHERE user_id = '''+ str(cur_user)
    )
    income_sources = fetch_data(income_source)
    income_sources = list(income_sources['income_source'].sort_values(ascending=True))
    income_options = (
    [{'label':division,'value':division}
     for division in income_sources]
    )
    return income_options

In [5]:
def get_expenses_type():
    expense_type = (
    f'''SELECT DISTINCT expenditure_type FROM expenditures WHERE user_id = '''+ str(cur_user)
    )
    expense_cat = fetch_data(expense_type)
    expense_cat = list(expense_cat['expenditure_type'].sort_values(ascending=True))
    expense_options = (
    [{'label':division,'value':division}
     for division in expense_cat]
    )
    return expense_options

In [6]:
def get_income():
    income = f'''SELECT * FROM incomes WHERE user_id = '''+ str(cur_user)
    df = fetch_data(income)
    return df

In [7]:
def get_expenses():
    expenses = f'''SELECT * FROM expenditures WHERE user_id = '''+ str(cur_user)
    df = fetch_data(expenses)
    return df

In [8]:
def pie_chart_income():
    income = get_income()
    if(income is None):
        return("No data Available")
    income_source = income['income_source']
    income_amount = income['income_amount']
    fig = go.Figure(data = [go.Pie(labels=income_source, values=income_amount,name = "Income Distribution")])
    fig.update_traces(hole = 0.4, hoverinfo="label+percent+name")

    fig.update_layout(
    title_text = "Income Distribution",
    annotations=[dict(text='Income',x=0.50,y=0.5,font_size=20,showarrow=False)]
    )
    return fig

In [9]:
def pie_chart_expense():
    expenses = get_expenses()
    expense_cat = expenses['expenditure_type']
    expense_amt = expenses['expenditure_amount']
    fig = go.Figure(data = [go.Pie(labels=expense_cat, values=expense_amt,name = "Expenditure Distribution")])
    fig.update_traces(hole = 0.4, hoverinfo="label+percent+name")
 

    fig.update_layout(
    title_text = "Expenditure Distribution",
    annotations=[dict(text='Expense',x=0.50,y=0.5,font_size=20,showarrow=False)]
    )
    
    return fig

In [10]:
def income_chart(value):
    df = get_income()
    dates = df[df['income_source']==value]['date']
    amount = df[df['income_source']==value]['income_amount']
    source = df[df['income_source']==value]['source_name']
    figure = go.Figure(
        data = [
            go.Bar(x=dates,y=amount,text=source,textposition='auto')
        ],
        layout=go.Layout(
            xaxis={'type':'category'},
            title='Amount From '+str(value),
            showlegend=False
        )
    )
    return figure

In [11]:
def expenses_chart(value):
    df = get_expenses()
    dates = df[df['expenditure_type']==value]['date']
    dates = [str(i) for i in dates]
    amount = df[df['expenditure_type']==value]['expenditure_amount']
    item = df[df['expenditure_type']==value]['payee']
    
    figure = go.Figure(
        data = [
            go.Bar(x=dates,y=amount,text=item,textposition='auto')
        ],
        layout=go.Layout(
            xaxis={'type':'category'},
            title='Amount used for '+str(value),
            showlegend=False
        )
    )
    
    return figure

In [43]:
def get_saving():
    per_month_income = f'''SELECT to_char(date,'MM-YYYY') AS Month,SUM(income_amount) AS Total_Income FROM incomes WHERE user_id = '''+ str(cur_user)+''' GROUP BY 1 '''
    df = fetch_data(per_month_income)
    per_month_expenses = f'''SELECT to_char(date,'MM-YYYY') AS Month,SUM(expenditure_amount) AS Total_Expenses FROM expenditures WHERE user_id = '''+ str(cur_user)+''' GROUP BY 1 ''' 
    df1 = fetch_data(per_month_expenses)
    result = pd.merge(df1,df,on=['month'],how='outer')
    result = result.fillna(0)
    cur = f'''SELECT current_assets FROM users WHERE id = '''+str(cur_user)
    cur_asset = fetch_data(cur)
    cur_asset = cur_asset.values[0][0]
    result['Savings Per month'] = result['total_income'] - result['total_expenses']
    result['Cumulative Savings'] = result['Savings Per month'].cumsum()
    result['Cumulative Savings'] = result['Cumulative Savings'] + cur_asset
    #for i in range(len(result['Expense_Month'])):
     #   if result['Expense_Month'][i]==0:
      #      result['Expense_Month'][i] = result['Income_Month'][i]
       
    return result

In [13]:
external_scripts = [
    'https://www.google-analytics.com/analytics.js',
    {'src': 'https://cdn.polyfill.io/v2/polyfill.min.js'},
    {
        'src': 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.core.js',
        'integrity': 'sha256-Qqd/EfdABZUcAxjOkMi8eGEivtdTkh3b65xCZL4qAQA=',
        'crossorigin': 'anonymous'
    }
]

external_stylesheets = [
    'https://codepen.io/chriddyp/pen/bWLwgP.css',
    {
        'href': 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
        'rel': 'stylesheet',
        'integrity': 'sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO',
        'crossorigin': 'anonymous'
    }
]

In [14]:
def get_my(i):
    date = datetime.datetime.strptime(i,'%Y-%m-%d')
    Date = date.strftime("%b")+ ' '+ date.strftime("%Y")
    return Date

In [15]:
app = dash.Dash(__name__,
                external_scripts=external_scripts,
                external_stylesheets=[dbc.themes.MINTY])

In [16]:
app.layout = html.Div(style={'fontFamily':'Montserrat'},
    children = [
    dbc.Row(
    [       dbc.Col(html.Div([
                    html.Img(src='https://i.ibb.co/2qG2YCw/fin-Nourish.png')
                    ]),
                    width = {'size':5},
                   ),
            dbc.Col(html.H3("Budget Tracker"),
                    width = {'size':6,'offset':5},
                   ),
    ]      ),
    dbc.Row(dbc.Col(html.Div("Select Income Source and Expense Category"),
                   width = 4
                   ),
           ),
    dbc.Row(
    [
        dbc.Col(dcc.Dropdown(id='income-selector',
                             placeholder = 'Income Sources',
                             options=get_income_source(),
                             value='Total Income'),
                width={'size':5,'offset':1,'order':1}
               ),
        dbc.Col(dcc.Dropdown(id='expense-selector',
                             placeholder = 'Expense Category',
                             options = get_expenses_type(),
                             value = 'Combined Expenses'),
               width={'size':5,'offest':1,'order':2}
               ),
    ], no_gutters=True
    ),
    dbc.Row(
    [
        dbc.Col(dcc.Graph(id='pie_chart1',figure={}),
               width=6,lg={'size':6,'offset':0,'order':'first'}
               ),
        dbc.Col(dcc.Graph(id='pie_chart2',figure={}),
               width=6,lg={'size':6,'offset':0,'order':'last'}
               ),
    ]
    ),
    
    dbc.Row(
    [
        dbc.Col(dcc.Graph(id='savings-chart',figure={}),
               width=6,lg={'size':6,'offset':0,'order':'first'}
               ),
        dbc.Col(dcc.Graph(id='cum-saving',figure={}),
               width=6,lg={'size':6,'offset':0,'order':'last'}
               ),
    ])
])

In [17]:
@app.callback(
    [Output('pie_chart1','figure'),
     Output('pie_chart2','figure')],
    [Input('income-selector','value'),
     Input('expense-selector','value')]
)
def update_graph(income,expense):
    if income == "Total Income" or expense == "Combined Expenses":
        pie_fig1 = pie_chart_income()
        pie_fig2 = pie_chart_expense()
        return pie_fig1,pie_fig2
    elif income is not None and expense is None:
        fig1 = income_chart(income)
        fig2 = pie_chart_expense()
        return fig1,fig2
    elif income is None and expense is not None:
        fig1 = pie_chart_income()
        fig2 = expenses_chart(expense)
        return fig1,fig2
    elif income is not None and expense is not None:
        fig1 = income_chart(income)
        fig2 = expenses_chart(expense)
        return fig1,fig2
    else:
        fig1 = pie_chart_income()
        fig2 = pie_chart_expense()
        return fig1,fig2

In [18]:
@app.callback(
    [Output('savings-chart','figure'),
     Output('cum-saving','figure')],
    [Input('income-selector','value')])
def update_savings(value):
    df = get_saving()
    Date = df['month']
    #Date = [get_my(i) for i in df['Expense_Date']]
    Savings = df['Savings Per month']
    Cum_saving = df['Cumulative Savings']
    figure = go.Figure(
        data = [
            go.Bar(x=Date,y=Savings,text=int(Savings),textposition='auto')
        ],
        layout=go.Layout(
            title='Amount Saved per month ',
            showlegend=False
        )
    )
    figure2 = go.Figure(
        data = [
            go.Bar(x=Date,y=Cum_saving,text=int(Cum_saving),textposition='auto')
        ],
        layout=go.Layout(
            title='Net Asset value after each month ',
            showlegend=False
        )
    )
    return figure,figure2

In [19]:
if __name__ == "__main__":
    app.run_server(debug=True,use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

In [44]:
df = get_saving()

In [53]:
df = df.sort_values(by=['month'])

In [54]:
df

,month,total_expenses,total_income,Savings Per month,Cumulative Savings
1,01-2021,0.0,10019.0,10019.0,39586.0
2,11-2020,0.0,7800.0,7800.0,47386.0
0,12-2020,876.0,6000.0,5124.0,29567.0

In [55]:
df['month'][0][3:]

'2020'

In [59]:
datetime.datetime.strptime(df['month'][0],'%m-%Y')

datetime.datetime(2020, 12, 1, 0, 0)

In [60]:
df['Date'] = [datetime.datetime.strptime(x,'%m-%Y') for x in df['month']]

In [61]:
df

,month,total_expenses,total_income,Savings Per month,Cumulative Savings,Date
1,01-2021,0.0,10019.0,10019.0,39586.0,2021-01-01
2,11-2020,0.0,7800.0,7800.0,47386.0,2020-11-01
0,12-2020,876.0,6000.0,5124.0,29567.0,2020-12-01

In [66]:
df = df.sort_values(by=['Date'],ignore_index=True)

In [67]:
df

,month,total_expenses,total_income,Savings Per month,Cumulative Savings,Date
0,11-2020,0.0,7800.0,7800.0,47386.0,2020-11-01
1,12-2020,876.0,6000.0,5124.0,29567.0,2020-12-01
2,01-2021,0.0,10019.0,10019.0,39586.0,2021-01-01

In [4]:
df = fetch_data("SELECT * FROM incomes")

In [5]:
df

,id,user_id,date,income_source,source_name,income_amount
0,1,1,2020-12-19,Miscellaneous,Dad,100.0
1,2,2,2020-12-19,Salary,Abc,6000.0
2,3,1,2020-12-20,Rentals,Chennai House,15000.0
3,4,2,2021-01-20,Rentals,Mexico,10019.0
4,5,2,2020-11-18,Salary,Abc,7800.0
5,6,7,2000-09-20,Part Time,Dad,6000.0
6,7,1,2020-12-11,Rentals,Mom,900.0
7,8,1,2020-11-11,Part Time,JumpStartNinja Technologies,13333.0
8,9,13,2020-12-21,Salary,Google,2000.0

In [6]:
df = fetch_data("DELETE FROM incomes WHERE user_id = 13 ")

TypeError: 'NoneType' object is not iterable

In [22]:
s = '''SELECT table_schema, table_name FROM information_schema.tables WHERE (table_schema = 'public') ORDER BY table_schema, table_name;'''

In [8]:
s

"SELECT table_schema, table_name FROM information_schema.tables WHERE (table_schema = 'public') ORDER BY table_schema, table_name;"

In [9]:
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

In [25]:
sf = '''SELECT nspname FROM pg_catalog.pg_namespace;'''

In [26]:
df = fetch_data(sf)

In [27]:
df

              nspname
0            pg_toast
1           pg_temp_1
2     pg_toast_temp_1
3          pg_catalog
4  information_schema
5              public

In [23]:
df1 = fetch_data(s)

In [24]:
df1

  table_schema        table_name
0       public     deposits_list
1       public      expenditures
2       public           incomes
3       public  investments_list
4       public             users